.title {
  padding: 0 10rem 0 5rem;
  font-size: 8rem;
}
.navigationContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.container {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.description {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.email {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.email::after {
  content: " ";
  background-color: transparent;
  top: 2px;
  height: 2px;
}
.email:hover::after {
  content: " ";
  top: 2px;
  height: 2px;
  background-color: #f2f2f2;
  animation: 0.3s progressive-line ease;
  border-radius: 5px;
  z-index: 10;
}
@keyframes progressive-line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    padding-top: 5rem;
    font-size: 7rem;
  }
  .description {
    font-size: 1.7rem;
    text-align: justify;
    text-indent: 1rem;
    padding-bottom: 2rem;
  }
  .email {
    padding-bottom: 4rem;
  }
}
