.homePageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navigationContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.title {
  padding: 5rem 20rem 2rem 5rem;
  font-size: 12rem;
}

.subtitle {
  padding-left: 5rem;
  animation: fade-in 1s linear;
  font-size: 3rem;
  padding-bottom: 8rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px); /* Move the element 10px down */
  }
  100% {
    opacity: 1;
    transform: translateY(
      0
    ); /* Move the element back to its original position */
  }
}
