.navigationContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.active {
  color: red;
}

.link:hover::after {
  content: " ";
  top: 2px;
  height: 2px;
  width: 100%;
  background-color: #f2f2f2;
  animation: 0.3s progressive-line ease;
  border-radius: 5px;
}

@keyframes progressive-line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
