.title {
  padding: 0 10rem 0 5rem;
  font-size: 8rem;
  padding-bottom: 4rem;
  /* font-size: 5rem; */
  /* padding-left: 4rem; */
  /* padding-top: 3rem; */
}

.text {
  text-indent: 1rem;
  text-align: justify;
  padding-left: 5rem;
  width: 60%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: expand-text 1s linear;
}

.navigationContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.jobsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: expand-text 0.7s linear;
}
@keyframes expand-text {
  0% {
    opacity: 0.3;
    gap: 1rem;
  }
  50% {
    opacity: 0.7;
    gap: 2rem;
  }
  100% {
    opacity: 1;
    gap: 3rem;
  }
}
