@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #7e22ce;
  --background-end-rgb: #6b21a8;
}


body {
  /* background: linear-gradient( */
  /*     to bottom, */
  /*     transparent, */
  /*     var(--background-end-rgb)) */
  /*    */
  /*   var(--background-start-rgb); */

  color: #f4f4f4;
  background: linear-gradient(155deg, #2d333b, #5756cf);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
