.title {
  padding: 0 10rem 0 5rem;
  font-size: 8rem;
}

.navigationContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.skillCardContainer {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.searchContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

.search {
  height: 1rem;
  font-size: 1rem;
  padding: 1rem;
  width: 15rem;
}
