.title {
  padding: 0 10rem 0 5rem;
  font-size: 8rem;
}

.navigationContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.skillCardContainer {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.searchContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

.search {
  height: 1rem;
  font-size: 1rem;
  padding: 1rem;
  width: 15rem;
}

@media only screen and (max-width: 767px) {
  .title {
    padding-top: 5rem;
    font-size: 7rem;
    padding-bottom: 2rem;
  }
  .searchContainer {
    justify-content: center;
  }
  .skillCardContainer {
    justify-content: center;
  }

  .subtitle {
    font-size: 3rem;
    font-weight: 500;
  }
  .search {
    height: 3.5rem;
    width: 23rem;
    font-size: 2rem;
  }
}
