.jobsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 35%;
  padding-left: 5rem;
}
.role {
  border-bottom: 1px solid;
  width: fit-content;
  font-size: 2rem;
}
.dates {
  font-size: 0.8rem;
}
.description {
  text-indent: 1rem;
  text-align: justify;
  font-size: 0.8rem;
  font-weight: 200;
}

@media only screen and (max-width: 767px) {
  .jobsContainer {
    width: 100%;
  }
  .role {
    font-size: 3rem;
    font-weight: 500;
  }
  .dates {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.5rem;
  }
}
